{% extends 'base.html.twig' %}

{% block body %}
    <div style="display: none">
        <div class="gjs-logo-cont">
            <div class="gjs-logo-version"></div>
        </div>
    </div>

    <div id="gjs" style="height:0px; overflow:hidden">
        {{ html|raw }}

        <style>
            {{ style|raw }}
        </style>
    </div>

    <script type="text/javascript">
        var styles = {{ asset_css_iframe()|raw }};
        var id = {{ id }};
    </script>

{% endblock %}
